<div class="checkoutForm">
  <h2>Checkout!</h2>
  <h4>Total: $<%= cart_total %></h4>
  <br>
  <h4>Shipping Information:</h4>
    <p>Full Name: <%= current_user.first_name %> <%= current_user.last_name %></p>
    <p>Email: <%= current_user.email %></p>
    <p>Address: <%= current_user.address %></p>
    <p>Postal Code: <%= current_user.postal_code %></p>
</div>


<div class="buttonContainer">
  <div class="checkoutButton1">
    <%= button_to "Cancel", cart_path, method: :get %>
  </div>
  <div class="checkoutButton2">
    <%= button_to "Purchase" %>
  </div>
</div>
