<div class="checkoutForm">
  <h2>Checkout!</h2>
  <h5>Subtotal: $<%= cart_total %></h5>
  <h5>Sales Tax: $<%= (current_user.province.tax_rate * cart_total).round(2) %></h5>
  <h4>Total: $<%= ((current_user.province.tax_rate * cart_total) + cart_total).round(2) %></h4>
  <p>----------------------------</p>
  <h4>Shipping Information:</h4>
  <p>Email: <%= current_user.email %></p>
  <p>Name: <%= current_user.first_name %> <%= current_user.last_name %></p>
  <p>Address: <%= current_user.address %></p>
  <p>Postal Code: <%= current_user.postal_code %></p>
  <p>City: <%= current_user.city %></p>
  <p>Province: <%= current_user.province.name %></p>
  <p>----------------------------</p>
</div>
<div class="cardPayment">
  <h4>Payment Method:</h4>
  <%= form_for "payment_type", method: :get do |form| %>
    <%= form.radio_button :card, "Visa" %> Visa&nbsp;&nbsp;
    <%= form.radio_button :card, "Mastercard" %> Mastercard&nbsp;&nbsp;
    <%= form.radio_button :card, "American Express" %> American Express
    <br>
    <br>
    <%= form.label "name" %><br>
    <%= form.text_field :name %><br>

    <%= form.label "card_number" %><br>
    <%= form.text_field :card_number %><br>

    <div class="expiration">
      <div class="expirationDate">
        <%= form.label "expiration" %><br>
        <%= form.date_select :month, start_year: 2023, order: [:month, :year]  %>
      </div>
      <div class="securityCode">
        <%= form.label "security_code" %>
        <%= form.text_field :security_code %>
      </div>
    </div>
  <% end %>
</div>

<div class="buttonContainer">
  <div class="checkoutButton1">
    <%= button_to "Cancel", cart_path, method: :get %>
  </div>
  <div class="checkoutButton2">
    <%= button_to "Purchase", success_path, method: :get %>
  </div>
</div>
