<div class="products">
  <h2>Products</h2>

  <% @products.order("brand ASC").each do |product| %>
    <h4><%= product.brand %>: <%= product.name %></h4>
    <p>$<%= product.price %></p>
    <p>
      <%= link_to "Show this product", product %>
    </p>
  <% end %>
</div>
<div class="paginate">
  <%= paginate @products %>
</div>
